@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply ctp-latte dark:ctp-mocha bg-ctp-base dark:bg-ctp-mantle
    font-museo text-ctp-text
    mx-auto;
  }

  strong {
    @apply font-bold dark:font-extrabold text-ctp-blue;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md bg-blue-500 text-white;
  }
}

@layer utilities {
  .transition-very-fast {
    @apply transition-all duration-150 ease-out;
  }

  .transition-fast {
    @apply transition-all duration-300 ease-out;
  }

  .transition-medium {
    @apply transition-all duration-500 ease-out;
  }

  .transition-slow {
    @apply transition-all duration-1000 ease-out;
  }
  
  .raise-color {
    @apply transition-very-fast text-anim-color -translate-y-[3px];
  }

  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }

  .text-anim-color {
    --bg-size: 400%;
    --color-one: theme('colors.ctp-yellow.DEFAULT');
    --color-two: theme('colors.ctp-lavender.DEFAULT');
    background: linear-gradient(
                  90deg,
                  var(--color-one),
                  var(--color-two),
                  var(--color-one)
                ) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move-bg 10s infinite linear;
  }

  .text-anim-color-light {
    --bg-size: 400%;
    --color-one: theme('colors.ctp-overlay2.DEFAULT');
    --color-two: theme('colors.ctp-text.DEFAULT');
    background: linear-gradient(
                  90deg,
                  var(--color-one),
                  var(--color-two),
                  var(--color-one)
                ) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move-bg 10s infinite linear;
  }

  .bg-anim-color {
    --bg-size: 400%;
    --color-one: theme('colors.ctp-yellow.DEFAULT');
    --color-two: theme('colors.ctp-lavender.DEFAULT');
    background: linear-gradient(
                  90deg,
                  var(--color-one),
                  var(--color-two),
                  var(--color-one)
                ) 0 0 / var(--bg-size) 100%;
    animation: move-bg 10s infinite linear;
  }

  .bg-anim-color-light {
    --bg-size: 400%;
    --color-one: theme('colors.ctp-overlay2.DEFAULT');
    --color-two: theme('colors.ctp-text.DEFAULT');
    background: linear-gradient(
                  90deg,
                  var(--color-one),
                  var(--color-two),
                  var(--color-one)
                ) 0 0 / var(--bg-size) 100%;
    animation: move-bg 10s infinite linear;
  }

  .border-animation {
    --bg-size: 400%;
    --color-one: theme('colors.ctp-yellow.DEFAULT');
    --color-two: theme('colors.ctp-lavender.DEFAULT');
    background: linear-gradient(
                  90deg,
                  var(--color-one),
                  var(--color-two),
                  var(--color-one)
                ) 0 0 / var(--bg-size) 100%;
    animation: move-bg 12s infinite linear;
  }

  .glow-anim {
    @apply shadow-[0_0_30px_11px] shadow-ctp-blue/25 transition-slow hover:shadow-[0_0_40px_11px] hover:shadow-ctp-blue/30;
  }

  @keyframes slide-enter {
    0% {
      transform: translateY(10px);
      opacity: 0
    }
  
    to {
      transform: translateY(0);
      opacity: 100
    }
  }
  
  @media (prefers-reduced-motion:no-preference) {
    [slide-enter],
    .slide-enter,
    .slide-enter-content > * {
      --enter-stage: 0;
      --enter-step: 150ms;
      --enter-initial: 0ms;
      animation: slide-enter 1s both 1;
      animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
    }
  
    .slide-enter-content > *:nth-child(1) { --enter-stage: 1; }
    .slide-enter-content > *:nth-child(2) { --enter-stage: 2; }
    .slide-enter-content > *:nth-child(3) { --enter-stage: 3; }
    .slide-enter-content > *:nth-child(4) { --enter-stage: 4; }
    .slide-enter-content > *:nth-child(5) { --enter-stage: 5; }
    .slide-enter-content > *:nth-child(6) { --enter-stage: 6; }
    .slide-enter-content > *:nth-child(7) { --enter-stage: 7; }
    .slide-enter-content > *:nth-child(8) { --enter-stage: 8; }
    .slide-enter-content > *:nth-child(9) { --enter-stage: 9; }
    .slide-enter-content > *:nth-child(10) { --enter-stage: 10; }
    .slide-enter-content > *:nth-child(11) { --enter-stage: 11; }
    .slide-enter-content > *:nth-child(12) { --enter-stage: 12; }
    .slide-enter-content > *:nth-child(13) { --enter-stage: 13; }
    .slide-enter-content > *:nth-child(14) { --enter-stage: 14; }
    .slide-enter-content > *:nth-child(15) { --enter-stage: 15; }
    .slide-enter-content > *:nth-child(16) { --enter-stage: 16; }
    .slide-enter-content > *:nth-child(17) { --enter-stage: 17; }
    .slide-enter-content > *:nth-child(18) { --enter-stage: 18; }
    .slide-enter-content > *:nth-child(19) { --enter-stage: 19; }
    .slide-enter-content > *:nth-child(20) { --enter-stage: 20; }
  }
}